@use 'sass:map';
@use '../variables' as var;
@use '../mixins' as mx;

header {
  width: 100%;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var.$nav-height;
    background-color: map.get(var.$colors, accent);
    box-shadow: var.$shadow-base;
    z-index: 1;

    &.transparent {
      background: none !important;
      box-shadow: none !important;
      li {
        background: none !important;
      }
      a {
        color: map.get(var.$colors, dark);
      }
    }

    div {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      width: 100%;
      max-width: var.$container-width;
      margin: 0 auto;
    }

    ul {
      list-style-type: none;
      display: flex;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: stretch;
      background-color: map.get(var.$colors, accent);
      transition: background-color var.$duration-base ease-out;

      &:hover {
        background-color: darken(map.get(var.$colors, accent), 10%);
      }

      a {
        padding-inline: map.get(var.$scale, 600);
        color: map.get(var.$colors, off-white);
        line-height: var.$nav-height;
      
        &:focus {
          color: map.get(var.$colors, off-white);
          background-color: darken(map.get(var.$colors, dark), 10%);
          outline: none;
        }
      }

      &.active a {
        @include mx.underline;
      }
    }

    form {
      display: flex;
      align-items: stretch;
    }

    button {
      padding-inline: map.get(var.$scale, 600);
      background: none;
      border: none;
      color: map.get(var.$colors, off-white);
      font-size: map.get(var.$scale, 400);
      cursor: pointer;

      &:hover {
        @include mx.underline;
      }
    }
  }
}
