@layout('layouts/main')
@set('title', 'Template - Dashboard')
@set('description', 'Logged-in users can access all of the information and functionality of their account from this page.')

@section('body')
<main>
  <div>
    <h1>Dashboard</h1>
  </div>
</main>
@end