@layout('layouts/main')
@set('title', 'Welcome')
@set('description', 'This is the landing page, so this text should include a brief overview of the site/product.')

@section('body')
<main>
  <div>
    <h1 class="title">Template app</h1>
  </div>
</main>
@end
