@layout('layouts/main')
@set('metatitle', 'Login')

@section('body')
<main>
  <div>
    <h1 class="title">Login Page</h1>
    <ul>
      <li><a href="/">Back to home</a></li>
    </ul>
  </div>
</main>
@end
