@layout('layouts/main')
@set('title', 'Template - Welcome to your account')
@set('description', 'New users will be taken to this page, welcome them and let them know what they might like to do next.')

@section('body')
<main>
  <div>
    <h1>Welcome!</h1>
    <h2>Thanks for being here...</h2>
  </div>
</main>
@end