@layout('layouts/main')
@set('title', 'Welcome to your account')
@set('description', 'New users will be taken to this page, welcome them and let them know what they might like to do next.')

@section('body')
<main>
  <div>
    <h1>Welcome, thanks for being here...</h1>
  </div>
</main>
@end