@layout('layouts/main')
@set('metatitle', 'Welcome')

@section('body')
<main>
  <div>
    <h1 class="title">Template app</h1>
    <ul>
      <li>
        <a href="/login">Login</a>
      </li>
    </ul>
  </div>
</main>
@end
