@use 'sass:map';
@use '../variables' as var;
@use '../mixins' as mx;

ul.form-links {
  list-style-type: none;
  margin-top: map.get(var.$scale, 400);

  li + li {
    margin-top: map.get(var.$scale, 100);
  }

  a:hover {
    @include mx.underline;
  }
}


