footer {
  width: 100%;
  padding: var(--scale-900);
  background-color: var(--color--dark);
  color: var(--color--off-white);
  font-size: .8em;
}

footer > div {
  max-width: var(--container-width);
  margin: 0 auto;
}

footer * {
  color: inherit;
  font-size: inherit;
}