header {
  width: 100%;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--color--accent);
  box-shadow: var(--shadow-base);
}

header nav div {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav li {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--color--accent);
  transition: background-color var(--duration--base) ease-out;
}
header nav li:hover {
  background-color: var(--color--accent-dark);
}
header nav li a:focus {
  background-color: var(--color--accent-dark);
  outline: none;
}

header nav a {
  padding-inline: var(--scale-600);
  color: var(--color--off-white);
  line-height: var(--nav-height);
}