button {
  cursor: pointer;
  margin-top: var(--scale-600);
  padding: var(--scale-400);
  font-size: var(--scale-400);
  font-weight: 900;
  text-transform: uppercase;

  border: none;
  color: var(--color--off-white);
  transition: background-color var(--duration--base) ease-out;
}

button:hover {
  text-decoration: underline;
  text-underline-offset: .4em;
  text-decoration-thickness: .125rem;
}

.button-block {
  width: 100%;
}

.button-accent {
  background-color: var(--color--accent);
  border: .125rem solid var(--color--accent-dark);
}
.button-accent:hover { background-color: var(--color--accent-dark); }
.button-accent:focus {
  outline: .125rem solid var(--color--accent-dark);
  background-color: var(--color--accent-dark);
}

.button-highlight {
  background-color: var(--color--highlight);
  border: .125rem solid var(--color--highlight-dark);
}
.button-highlight:hover { background-color: var(--color--highlight-dark); }
.button-highlight:focus {
  outline: .125rem solid var(--color--highlight-dark);
  background-color: var(--color--highlight-dark);
}