ul.form-links {
  list-style-type: none;
  margin-top: var(--scale-400);
}

ul.form-links li + li {
  margin-top: var(--scale-100);
}

ul.form-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: .125rem;
  text-underline-offset: .4em;
}
